* {
    background-color: #13131F;;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #0A0A12EB;
}

.logo {
    width: 124px;
    height: 70px;
}